{% extends "layout.html" %}
{% include "header.html" %}
{% block title %} User tasks page {% endblock %}
{% block body %}
    
<div class="card" style="margin: 50px;padding:30px;">
    <button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        Add Task
    </button>
  
  <!-- Modal -->
  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" action="{{url_for('task_create', id= user.id)}}">
                <div class="form-group">
                  <label for="inputAddress">Task name</label>
                  <input type="text" name="name" class="form-control" id="inputAddress" placeholder="Enter name ...">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" placeholder="Enter task description.. "></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Status</label>
                    <select class="form-control" name="status">
                        <option selected disabled hidden>Please select status</option>
                        <option value="Start">Start</option>
                        <option value="Running">Running</option>
                        <option value="Complete">Complete</option>
                        <option value="Close">Close</option>
                    </select>
                </div>            
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Create</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div><br>

  {% with messages = get_flashed_messages() %}
    {%if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}

  <table class="table table-bordered">
    <thead class="table-dark text-center">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Task</th>
        <th scope="col">description</th>
        <th scope="col">status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{task.id}}</th>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.status}}</td>
            <td>
              <a href="/task/{{task.id}}/delete" onclick="return confirm('Are you sure ?')" class="btn btn-danger">Delete</a>
              <a href="/update/{{task.id}}" class="btn btn-warning" data-toggle="modal" data-target="#updateModal-{{task.id}}">Edit</a>
            </td>
        </tr>
        <div class="modal fade" id="updateModal-{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{url_for('task_update', id= task.id)}}">
                        <div class="form-group">
                          <label for="inputAddress">Task name</label>
                          <input type="text" name="name" class="form-control" id="inputAddress" placeholder="Enter name ..." value="{{task.name}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" placeholder="Enter task description.. ">{{task.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Status</label>
                            <select class="form-control" name="status">
                                <option selected disabled hidden>Please select status</option>
                                <option value="Start">Start</option>
                                <option value="Running">Running</option>
                                <option value="Complete">Complete</option>
                                <option value="Close">Close</option>
                            </select>
                        </div>            
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Update</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}